@charset "UTF-8";

*{margin: 0 ; padding: 0; font-family: Arial;}
ul,li,ol{list-style: none;}
a{text-decoration: none;}
header {background: rgb(242, 244, 246); width: 100%;  padding: 0%;position: absolute; left: 0; top: 0; z-index: 3; opacity: 0.9;}

@media(max-width:768px){
        #wrap{width: 100%;height: auto; }
        /* .container{width: 100%; height: 100%; margin: 0 auto; } */
        
        header {position: fixed;}
        header .small {display: flex; align-items: center; justify-content: space-between;line-height: 40px;}
        header .container .b .icon{display: none;}
        header .container .icon{display: none;}
        header .container .a{display: block;}
        header .container .a:hover{cursor: pointer;}
        header .container .b ul{display:flex;flex-direction: column; justify-content: space-around; }
        header .container .b ul li a{padding:15px; text-decoration:none; color:#666; position: relative; font-size: 1vmax;} 
        header .container .b ul li a:hover{color: coral;}
        header .container .small h1 a{text-decoration: none; color: #666; font-size: 2vmax;}
        header .container.icon{display: flex;}
        header .container.icon img:hover{transform: scale(1.05);}
        header .container.icon img{padding:6px;}
        
        #slider{max-width: 100%; height: 800px;background-position: center; 
                background-image: url(../img/welryong.jpg); background-size:cover;}
        #slider h1{color: white; padding: 280px 0 0 0; text-align: center; font-size: 3vw;}
        #slider h3{color: white; padding: 20px 0 0 0; text-align: center; font-size: 1vw;}
        #slider p{color: white; padding: 50px 0 0 0; text-align: center; font-size: 1vw;}
        #slider a:hover{background-color: transparent; border: 1px solid white; color: white;}
        #slider a{background-color: coral; color: white; padding: 12px; text-align: center; font-size: 1vw;}
        
        .site-sec{position: relative; width:100%; height:1120px; margin: 0; padding: 0; }
        .site-sec .container{flex-flow: row wrap; overflow: hidden; display: flex; justify-content: space-around; 
                align-items: center; width: 100%; height: auto;margin: 0 auto; }
        .site-sec .container {position: absolute; left: 50%; top: -10%; transform: translateX(-50%);}
        .site-sec .container .wrap {width: 96%;height:100%; overflow: hidden;  padding: 4px;}
        .site-sec .container .wrap .box{position: relative; width: 100%; height: 400px; display: inline-block; overflow: hidden;}
        .site-sec .container .box .img{width:100%; height: 100%;background-size: cover; background-position: center;}
        .site-sec .container .wrap .box h3{position: absolute; bottom: 10%;left: 50%; transform: translate(-50%,-70%);margin: 0 auto; color: white; font-size: 1vw;}
        .site-sec .container .box .img:hover{transform:scale(1.03) ;}
        .site-sec .container .wrap .box h3:hover{font-size: 1.2vw; color: coral;}

        .site-sec2{position: relative; width:100%; height:640px; margin: 0; padding: 0; }
        .site-sec2 .container{flex-flow: row wrap; overflow: hidden; display: flex; justify-content: space-around; 
                align-items: center; width: 100%; height: auto;margin: 0 auto; }
        .site-sec .container {position: absolute; left: 50%; top: -10%; transform: translateX(-50%);}
        .site-sec2 .container .wrap {box-sizing: border-box; width: 96%;height:200px; overflow: hidden;text-align: center; 
                background-color: beige; margin: 10px 0 0 0 ;}
        .site-sec2 .container .wrap h2{margin: 10px 0 10px 0; font-size: 2vw; color: coral;}
        .site-sec2 .container .wrap h3{margin: 10px ; font-size: 1vw; color: #666;text-align: left ;}
        .site-sec2 .container .wrap p{color: white; margin: 20px 0 0 0; text-align: center; font-size: 1vw;}
        .site-sec2 .container .wrap a{background-color: coral; color: white; padding: 12px; text-align: center; font-size: 1vw;}
        .site-sec2 .container .wrap a:hover{background-color: transparent; border: 1px solid coral; color: coral;}

        .site-sec3{position: relative; width: 100%; height: 700px; margin: 0; padding: 0; background-color: aliceblue;}
        .site-sec3 .container{width: 100%; height: auto;margin: 0 auto;}
        .site-sec3 .container h2{margin: 0 auto; text-align: center; padding: 30px 0 10px 0; font-size: 2vw; color: #666;}
        .site-sec3 .container .wrap{margin: 0 auto; display: flex;flex-direction: column; align-items: center; 
                width: 100%; height: auto;}
        .site-sec3 .container .wrap .side{box-sizing: border-box; position: relative; width: 90%; height: auto; }
        .site-sec3 .container .wrap .side .naiyou{display: inline-block; box-sizing: border-box; font-size: 1.3vw; position: absolute; left: 50%; top: 18%; transform: translateX(-50%);
                width: 120%; min-height: 70%; 
                background-color: beige; padding: 5% 10% 5% 10% ; text-align: center;}
        .site-sec3 .container .wrap .side .naiyou span{color: coral;}
        .site-sec3 .container .rowicon{display: flex; justify-content: center;align-items: center; width: 100%; height: auto;}
        .site-sec3 .container .rowicon .jirusi{width: 30px; height: 30px; margin: 10px 30px 10px 30px;}
        .site-sec3 .container .rowicon .jirusi:hover{transform: scale(1.03);}



        }

@media(min-width:768px){
        #wrap{width: 100%;height: auto;}
        .container{width: 1140px; height: 100%; margin: 0 auto;}

        header {position: fixed; display: flex; width: 100%; display: flex; padding: 0%;}
        header .container{display: flex; justify-content:space-around; align-items: center; line-height: 60px;}
        header .container .b .icon{display: block;}
        header .container .a{display: none;}
        header .container .b ul{display:flex; justify-content: space-around; align-items: center;}
        header .container .b ul li a{padding:15px; text-decoration:none; color:#666; position: relative; font-size: 1vmax;} 
        header .container .b ul li a:hover{color: coral;}
        header .container .small h1 a{text-decoration: none; color: #666; font-size: 2vmax;}

        header .container.icon{display: flex;}
        header .container.icon img:hover{transform: scale(1.02);}
        header .container.icon img{padding:6px;}

        #slider{max-width: 100%; height: 800px;background-position: center; 
                background-image: url(../img/welryong.jpg); background-size:cover;}
        #slider h1{color: white; padding: 280px 0 0 0; text-align: center; font-size: 3vw;}
        #slider h3{color: white; padding: 20px 0 0 0; text-align: center; font-size: 1vw;}
        #slider p{color: white; padding: 50px 0 0 0; text-align: center; font-size: 1vw;}
        #slider a:hover{background-color: transparent; border: 1px solid white; color: white;}
        #slider a{background-color: coral; color: white; padding: 12px; text-align: center; font-size: 1vw;}

        .site-sec{position: relative; width:100%; height:410px; margin: 0; padding: 0; }
        .site-sec .container{flex-flow: row wrap; overflow: hidden; display: flex; justify-content: space-between; 
                align-items: center; width: 1140px; height: 400px;margin: 0 auto; }
        .site-sec .container .box .img{ width:100%; height: 100%;background-size: cover; background-position: center;}
        .site-sec .container .wrap {width: 32%;height:100%; overflow: hidden; }
        .site-sec .container .wrap .box{position: relative; width: 100%; height: 400px; display: inline-block; overflow: hidden;}
        .site-sec .container .wrap .box h3{position: absolute;bottom: 10%;left: 50%; transform: translate(-50%,-50%);margin: 0 auto; color: white; font-size: 1vw;}
        .site-sec .container {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-70%);}
        .site-sec .container .wrap .box .img:hover{transform:scale(1.03) ;font-size: 1.5vw; color: coral;}
        .site-sec .container .wrap .box h3:hover{font-size: 1.2vw; color: coral;}

        .site-sec2{position: relative; width:100%; height:410px; margin: 0; padding: 0; }
        .site-sec2 .container{flex-flow: row wrap; overflow: hidden; display: flex; justify-content: space-between; 
                align-items: center; width: 1140px; height: 400px;margin: 0 auto; }
        .site-sec2 .container .wrap {box-sizing: border-box; width: 32%;height:100%; overflow: hidden;text-align: center; 
                padding: 20px 10px 0 10px;}
        .site-sec2 .container .wrap h2{margin: 10px 0 10px 0; font-size: 2vw; color: coral;}
        .site-sec2 .container .wrap h3{margin: 10px ; font-size: 1vw; color: #666;text-align: left ;}
        .site-sec2 .container .wrap p{color: white; margin: 40px 0 0 0; text-align: center; font-size: 1vw;}
        .site-sec2 .container .wrap a{background-color: coral; color: white; padding: 12px; text-align: center; font-size: 1vw;}
        .site-sec2 .container .wrap a:hover{background-color: transparent; border: 1px solid coral; color: coral;}
        
        .site-sec3{width: 100%; height: 700px; margin: 0; padding: 0; background-color: aliceblue;}
        .site-sec3 .container{width: 1140px; height: 600px;margin: 0 auto;}
        .site-sec3 .container h2{margin: 0 auto; text-align: center; padding: 30px 0 10px 0; font-size: 2vw; color: #666;}
        .site-sec3 .container .wrap{margin: 0 auto; display: flex;justify-content: space-between;align-items: center; 
                width: 100%; height: 92%;}
        .site-sec3 .container .wrap .side{box-sizing: border-box; position: relative; width: 48%; height: 96%; }
        .site-sec3 .container .wrap .side .naiyou{display: inline-block; box-sizing: border-box; font-size: 1.3vw; position: absolute; left: 70%; top: 18%; transform: translateX(-76%); width: 120%; min-height: 70%; 
                background-color: beige; padding: 12% 5% 0 5% ; text-align: center;}
        .site-sec3 .container .wrap .side .naiyou span{color: coral;}
        .site-sec3 .container .rowicon{display: flex; justify-content: center;align-items: center; width: 100%; height: auto;}
        .site-sec3 .container .rowicon .jirusi{width: 30px; height: 30px; margin: 10px 30px 10px 30px;}
        .site-sec3 .container .rowicon .jirusi:hover{transform: scale(1.03);}
        





}