@charset "UTF-8";

*{margin: 0 ; padding: 0; font-family: Arial;}
ul,li,ol{list-style: none;}
a{text-decoration: none;}
header {background: rgb(242, 244, 246); width: 100%;  padding: 0%;position: absolute; left: 0; top: 0; z-index: 3; opacity: 0.9;}
html{font-size: 10px;}

@media(max-width:767px){

    #slider{width: 100%; height: 600px; background-image: url(../img/jomonsugi.jpg); 
        background-size: cover; background-position: center;}
        #slider_1{width: 100%; height: 100%; display: flex; justify-content: space-around; 
            align-items: center; margin: 0 auto;}
            .slider_test{width: 50%; margin: 0 0 0 30px;}
            
                #slider h2{font-size: 3.8rem; line-height: 40px; color: #fff; }
                #slider p{font-size:2rem; width: 85%; color: coral;}
            #slider h2:hover{color: coral; cursor: pointer;}
            .slider_img{width: 30%; margin: 120px 0 0 60px;}
            .slider_img img{width: 70%; height: auto;}
            .slider_img img:hover{cursor: pointer;}

    section{width: 100%; height: auto; margin: 50px auto ; display: flex;
        justify-content: space-between; align-items: center; flex-direction: column;}
        #left{width: 90%; height: auto; display: flex; flex-direction: column; justify-content: flex-start;}
            #jomonsugi{width: 100%;height: auto;}
            #jomonsugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3rem;}
            #jomonsugi > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral}
            #jomonsugi_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #jomonsugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #jomonsugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #jomonsugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #jomonsugi_1 #slidewrap {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #jomonsugi_1 .slide {width: 300%; }
                #jomonsugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #jomonsugi_1 .slide li> img {width: 100%; height: 100%;}
                #jomonsugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #jomonsugi_1 span:hover {background: coral; color:white;}
                #jomonsugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #jomonsugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #jomonsugi_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 10px 30px; color: #666;}
            #jomonsugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #jomonsugi_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #jomonsugi_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3):hover{color: coral;}

            #yakukago{margin: 30px auto; width: 100%;height: auto; border-radius: 5px;}
            #yakukago > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666; margin: 30px 0 0 0;}
            #yakukago > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #yakukago .yakukago_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/yakukago.png);background-size: cover;  width: 100%; height: auto; border-radius: 5px;}
            #yakukago .yakukago_1:hover{opacity: 0.7; cursor: pointer;}
            .yakukago_1 > p{display: block; font-size: 3rem;color: white; text-align: center; padding: 60px 0; width: 100%; height:auto; color: white;}
            .yakukago_1 > p > a{color: white; padding: 0 0 0 0;}
            #yakukago > h2 a{color: #666; }
            #yakukago a:hover{color: coral; }

            #video{width: 100%; height: auto; margin: 30px 0 0;}
            #video > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #video > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral;}
            #video_1{width: 100%; height: auto; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); overflow: hidden;}
            #video_1 iframe{width: 100%; max-width:100%; height: 400px; border: none; }
            #video_1 p:nth-of-type(1){font-size: 2rem; margin: 35px 0 5px 30px; color: #666;}
            #video_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color:#666;}
            #video_1 p:nth-of-type(2){font-size: 2rem; width: auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;}
            #video_1 img{width: 40px; height: 40px; border-radius: 50px; float: left;margin: 30px 0 30px 30px; cursor: pointer;}
            #video_1 p:nth-of-type(3){font-size: 2rem; float: left; margin: 40px 10px 0 10px; cursor: pointer; color: #666;}
            #video_1 p:nth-of-type(3):hover{color: coral;}

            #banner1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/mati3.jpg);background-size: cover;width: 100%; height: 154px; margin: 60px 0 0 0; border-radius: 5px; cursor: pointer;}
            #banner1 img{width: 100px; height: 100px; border-radius: 50%; float: left; margin: 25px 0 0 20px;}
            #banner1 h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2rem; margin: 20px 0 0 120px; color: white;}
            #banner1 p{display: none; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; margin: 10px 0 0 120px; 
                padding: 0 20px 0 0; line-height: 18px; color: white;}
            #banner1 span{color: coral;}
            #banner1 span:hover{color: white;}

            #willson{width: 100%;height: auto; margin: 60px 0 0 0 ;}
            #willson > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3rem;}
            #willson > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0; color: coral;}
            #willson_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #willson_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #willson_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #willson_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #willson_1 #slidewrap_1 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #willson_1 .slide {width: 300%; }
                #willson_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #willson_1 .slide li> img {width: 100%; height: 100%;}
                #willson_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #willson_1 span:hover {background: coral; color:white;}
                #willson_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #willson_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #willson_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 10px 30px; color: #666;}
            #willson_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #willson_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #willson_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #willson_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #willson_1 > p:nth-of-type(3):hover{color: coral;}

            #huhusugi{width: 100%; height: auto; margin: 60px 0 0 0;}
            #huhusugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #huhusugi > p:nth-of-type(1) {font-size: 2rem; margin: 5px 0 30px 0px;color: coral;}
            #huhusugi_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #huhusugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #huhusugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #huhusugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #huhusugi_1 #slidewrap_2 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #huhusugi_1 .slide {width: 300%; }
                #huhusugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #huhusugi_1 .slide li> img {width: 100%; height: 100%;}
                #huhusugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #huhusugi_1 span:hover {background: coral; color:white;}
                #huhusugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #huhusugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #huhusugi_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 5px 30px; color: #666;}
            #huhusugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #huhusugi_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #huhusugi_1 .hitokao{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3):hover{color: coral;}

            #center{margin: 60px 0 0 0; width: 100%;height: auto; border-radius: 5px;}
            #center > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666; margin: 30px 0 0 0;}
            #center > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #center .center_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/center.png);background-size: cover;  
                background-position: center;background-size: contain;background-repeat: no-repeat;  width: 100%; height: 154px; border-radius: 5px;}
            #center .center_1:hover{opacity: 0.7; cursor: pointer;}
            #center > h2 a{color: #666; }
            #center a:hover{color: coral; }

            #siratani{width: 100%; height: auto; margin: 60px 0 0 0;}
            #siratani > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #siratani > p:nth-of-type(1) {font-size: 2rem; margin: 5px 0 30px 0px;color: coral;}
            #siratani_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #siratani_1 .slide_1 {width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #siratani_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #siratani_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #siratani_1 #slidewrap_3 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #siratani_1 .slide {width: 300%; }
                #siratani_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #siratani_1 .slide li> img {width: 100%; height: 100%;}
                #siratani_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #siratani_1 span:hover {background: coral; color:white;}
                #siratani_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #siratani_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #siratani_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 5px 30px; color: #666;}
            #siratani_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #siratani_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #siratani_1 .hitokao {width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3):hover{color: coral;}

        #right{width: 85%; height: auto; display: flex; flex-direction: column; justify-content: flex-start;}
            #yoo{width: 100%; height: auto; margin: 102px 0 0 0;}
            #yoo img{width: 100%; height: 100%; border-radius: 100%; margin: 0 0 0 0; cursor: pointer;}
            #yoo h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 15px 0 0 20px; color: #666; font-weight: bold;}
            #yoo p{font-size: 2rem; margin: 15px 0 0 20px; line-height: 20px; color:coral}

            #category{width: 100%; height: auto; margin: 40px 0 0 0;}
            #category h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 10px 0 0 20px; color: #666;font-weight: bold;}
            #category ul{list-style: none; margin: 20px 0 0 20px;}
            #category li{font-size: 2rem; margin: 12px 0 0; cursor: pointer; color: #666;}
            #category li:hover{color: coral;}

            #post{width: 100%; height: auto;}
            #post h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 30px 0 0 20px; color: #666;font-weight: bold;}
            #post ul{display: flex; flex-direction: column; margin: 20px 0 0 ; list-style: none;}
            #post ul li{list-style: none; margin: 0; padding: 0;}
            #post img{width: 80px; height: 80px; border-radius: 50%; float: left; margin: 0 0 20px 20px; cursor: pointer;}
            #post h4{font-size: 2rem; margin: 30px 0 0 120px; color: #666; cursor: pointer;font-weight: bold;}
            #post p{font-size: 1.3rem; margin:0 0 0 120px; color: coral; cursor: pointer;}

            #search{width: 100%; height: 80px; margin: 40px 0; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
            #search .input_icon{display: flex; justify-content: space-between; align-items: center; margin: 0; padding: 0;}
            #search .input_icon span{width: 10%; height: 30px;}
            #search input{width: 85%; height: 30px; border: none; border-bottom: 1px solid coral; margin: 20px 0 30px 20px; display: block; color: #666; font-size: 1.4rem;}

            #yoo_2{width: 274px; height: auto;}
            #yoo_2 #fadein_slider {width: 100%; margin: 0 auto; position: relative;}
            #yoo_2 #pic {width: 100%; height: 140px; overflow: hidden; position: relative; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #yoo_2 #pic>div {width: 100%; position: absolute; display: none; }
            #yoo_2 #control {position: absolute; width: 100%; left: 0; bottom: 10px; text-align: center;}
            #yoo_2 #control a {display: inline-block; width: 18px; height: 18px; background: #000; color: #fff; 
                line-height: 18px; font-size: 0.8em; border-radius: 10px; margin: 0 2px}
            #yoo_2 #control a.on {background: #ff6600;}

            #news{width: 100%; height: 110px; margin: 40px 0 ; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #news h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #news .news_icon{display: flex; justify-content: space-between; align-items: center;}
            #news .news_icon i{width: 10%; height: 30px; }
            #news input {width: 85%; height: 30px;border: none; border-bottom: 1px solid coral; margin: 20px 0px 30px 20px;
                display: block; color: #5d516c; font-size: 14px;}
            
            #insta{width: 100%; height: auto; }
            #insta h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; color:#666; font-weight: bold;}
            #insta .insta_img{width: 100%;height: auto; margin: 20px 0 0 0; display: flex; flex-flow: row wrap; justify-content: space-around;
                align-content: space-around;}
            #insta .insta_img img{width: 100px; height: 100px; border-radius: 10px; cursor: pointer; margin: 10px;}
            #insta .insta_img img:hover{opacity: 0.7;}

            #follow{width: 100%; height: auto; margin: 40px 0;}
            #follow h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #follow ul{display: flex; margin: 20px; list-style: none;}
            #follow li{font-size: 2rem; margin: 0 15px; cursor: pointer; list-style: none;}
            #follow li:hover{transform: scale(1.2);}

            #tag{width: 100%; height: auto;}
            #tag h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2.4rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #tag ul{display: flex; flex-wrap: wrap; margin: 20px 0 0 20px;list-style: none;}
            #tag li a{font-size: 2rem; color: #666; cursor: pointer;}
            #tag li a:hover{color: coral;}

            #slblog {width: 100%; margin: 40px 0 0 20px}
            #slblog .page {text-align: left;margin-bottom: 5px;}
            #slblog .page .page_n {display: inline-block; margin-right: 10px; font-size: 2rem;}
            #slblog .page button {border: none; color: #fff; width: 30px; height:30px;overflow: hidden;}
            #slblog .vis {width: 220px; height: 220px; overflow: hidden;box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2); border-radius: 5px;}
            #slblog .page button:hover{background-color: coral;}
            
            #topslide{height: auto;}
            #up{position: fixed; right: 20px; bottom: 20px; width: 60px; height: 60px; transition: all 0.5s ease; opacity: 0; visibility: hidden;}
            #up.on{opacity: 1; visibility: visible;}
            #up a{display: block; padding: 20px; text-align: center;text-decoration: none; color: #fff;}
}



@media(min-width:768px){

    #slider{width: 100%; height: 600px; background-image: url(../img/jomonsugi.jpg); 
        background-size: cover; background-position: center;}
        #slider_1{width: 100%; height: 100%; display: flex; justify-content: space-around; 
            align-items: center; margin: 0 auto;}
            .slider_test{width: 50%; margin: 0;}
            
                #slider h2{font-size: 4rem; line-height: 46px; color: #fff; margin: 0 0 0 20px;}
                #slider p{font-size:2rem; width: 85%; color: coral; margin: 0 0 0 20px;}
            #slider h2:hover{color: coral; cursor: pointer;}
            .slider_img{width: 30%; margin: 120px 0 0 100px;}
            .slider_img img{width: 138px; height: 250px;}
            .slider_img img:hover{cursor: pointer;}

    section{width: 100%; height: auto; margin: 50px auto ; display: flex;
        justify-content: space-between; align-items: center; flex-direction: column;}
        #left{width: 85%; height: auto; display: flex; flex-direction: column; justify-content: flex-start;}
            #jomonsugi{width: 100%;height: auto;}
            #jomonsugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3rem;}
            #jomonsugi > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral}
            #jomonsugi_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #jomonsugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #jomonsugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #jomonsugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #jomonsugi_1 #slidewrap {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #jomonsugi_1 .slide {width: 300%; }
                #jomonsugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #jomonsugi_1 .slide li> img {width: 100%; height: 100%;}
                #jomonsugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #jomonsugi_1 span:hover {background: coral; color:white;}
                #jomonsugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #jomonsugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #jomonsugi_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 10px 30px; color: #666;}
            #jomonsugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #jomonsugi_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #jomonsugi_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3):hover{color: coral;}

            #yakukago{margin: 30px auto; width: 100%;height: auto; border-radius: 5px;}
            #yakukago > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666; margin: 30px 0 0 0;}
            #yakukago > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #yakukago .yakukago_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/yakukago.png);background-size: cover;  width: 100%; height: auto; border-radius: 5px;}
            #yakukago .yakukago_1:hover{opacity: 0.7; cursor: pointer;}
            .yakukago_1 > p{display: block; font-size: 3rem;color: white; text-align: center; padding: 60px 0; width: 100%; height:auto; color: white;}
            .yakukago_1 > p > a{color: white; padding: 0 0 0 90px;}
            #yakukago > h2 a{color: #666; }
            #yakukago a:hover{color: coral; }

            #video{width: 100%; height: auto; margin: 30px 0 0;}
            #video > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #video > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral;}
            #video_1{width: 100%; height: auto; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); overflow: hidden;}
            #video_1 iframe{width: 100%; max-width:100%; height: 400px; border: none; }
            #video_1 p:nth-of-type(1){font-size: 2rem; margin: 35px 0 5px 30px; color: #666;}
            #video_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color:#666;}
            #video_1 p:nth-of-type(2){font-size: 2rem; width: auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;}
            #video_1 img{width: 40px; height: 40px; border-radius: 50px; float: left;margin: 30px 0 30px 30px; cursor: pointer;}
            #video_1 p:nth-of-type(3){font-size: 2rem; float: left; margin: 40px 10px 0 10px; cursor: pointer; color: #666;}
            #video_1 p:nth-of-type(3):hover{color: coral;}

            #banner1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/mati3.jpg);background-size: cover;width: 100%; height: 154px; margin: 60px 0 0 0; border-radius: 5px; cursor: pointer;}
            #banner1 img{width: 100px; height: 100px; border-radius: 50%; float: left; margin: 25px 0 0 30px;}
            #banner1 h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 2rem; margin: 40px 0 0 170px; color: white;}
            #banner1 p{display: none; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 2rem; margin: 10px 0 0 170px; 
                padding: 0 20px 0 0; line-height: 22px; color: white;}
            #banner1 span{color: coral;}
            #banner1 span:hover{color: white;}

            #willson{width: 100%;height: auto; margin: 60px 0 0 0 ;}
            #willson > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3rem;}
            #willson > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0; color: coral;}
            #willson_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #willson_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #willson_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #willson_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #willson_1 #slidewrap_1 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #willson_1 .slide {width: 300%; }
                #willson_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #willson_1 .slide li> img {width: 100%; height: 100%;}
                #willson_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #willson_1 span:hover {background: coral; color:white;}
                #willson_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #willson_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #willson_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 10px 30px; color: #666;}
            #willson_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #willson_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #willson_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #willson_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #willson_1 > p:nth-of-type(3):hover{color: coral;}

            #huhusugi{width: 100%; height: auto; margin: 60px 0 0 0;}
            #huhusugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #huhusugi > p:nth-of-type(1) {font-size: 2rem; margin: 5px 0 30px 0px;color: coral;}
            #huhusugi_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #huhusugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #huhusugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #huhusugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #huhusugi_1 #slidewrap_2 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #huhusugi_1 .slide {width: 300%; }
                #huhusugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #huhusugi_1 .slide li> img {width: 100%; height: 100%;}
                #huhusugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #huhusugi_1 span:hover {background: coral; color:white;}
                #huhusugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #huhusugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #huhusugi_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 5px 30px; color: #666;}
            #huhusugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #huhusugi_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #huhusugi_1 .hitokao{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3):hover{color: coral;}

            #center{margin: 60px 0 0 0; width: 100%;height: auto; border-radius: 5px;}
            #center > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666; margin: 30px 0 0 0;}
            #center > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #center .center_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/center.png);background-size: cover;  
                background-position: center;background-size: contain;background-repeat: no-repeat;  width: 100%; height: 154px; border-radius: 5px;}
            #center .center_1:hover{opacity: 0.7; cursor: pointer;}
            #center > h2 a{color: #666; }
            #center a:hover{color: coral; }

            #siratani{width: 100%; height: auto; margin: 60px 0 0 0;}
            #siratani > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color: #666;}
            #siratani > p:nth-of-type(1) {font-size: 2rem; margin: 5px 0 30px 0px;color: coral;}
            #siratani_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #siratani_1 .slide_1 {width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #siratani_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #siratani_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #siratani_1 #slidewrap_3 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #siratani_1 .slide {width: 300%; }
                #siratani_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #siratani_1 .slide li> img {width: 100%; height: 100%;}
                #siratani_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #siratani_1 span:hover {background: coral; color:white;}
                #siratani_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #siratani_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #siratani_1 > p:nth-of-type(1){font-size: 2rem; margin: 20px 0 5px 30px; color: #666;}
            #siratani_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: #666;}
            #siratani_1 > p:nth-of-type(2){font-size: 2rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #siratani_1 .hitokao {width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3){font-size: 2rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3):hover{color: coral;}

        #right{width: 85%; height: auto; display: flex; flex-direction: column; justify-content: flex-start; }
            #yoo{width: 100%; height: 390px; margin: 102px 0 0 0;}
            #yoo img{width: 300px; height: 300px; border-radius: 100%; margin: 0 0 0 20px; cursor: pointer;}
            #yoo h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); 
                font-size: 3rem; margin: 15px 200px 0 20px; color: #666; font-weight: bold;}
            #yoo p{font-size: 2rem; margin: 15px 0 0 20px; line-height: 20px; color:coral}

            #category{width: 100%; height: 250px; margin: 40px 0 0 0;}
            #category h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666;font-weight: bold;}
            #category ul{list-style: none; margin: 20px 0 0 20px;}
            #category li{font-size: 2rem; margin: 12px 0 0; cursor: pointer; color: #666;}
            #category li:hover{color: coral;}

            #post{width: 100%; height: 350px;}
            #post h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 30px 0 0 20px; color: #666;font-weight: bold;}
            #post ul{display: flex; flex-direction: column; margin: 20px 0 0 ; list-style: none;}
            #post ul li{list-style: none; margin: 0; padding: 0;}
            #post img{width: 80px; height: 80px; border-radius: 50%; float: left; margin: 0 0 20px 20px; cursor: pointer;}
            #post h4{font-size: 2rem; margin: 30px 0 0 120px; color: #666; cursor: pointer;font-weight: bold;}
            #post p{font-size: 1.3rem; margin:0 0 0 120px; color: coral; cursor: pointer;}

            #search{width: 100%; height: 80px; margin: 40px 0; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
            #search .input_icon{display: flex; justify-content: space-between; align-items: center; margin: 0; padding: 0;}
            #search .input_icon span{width: 10%; height: 30px;}
            #search input{width: 85%; height: 30px; border: none; border-bottom: 1px solid coral; margin: 20px 0 30px 20px; display: block; color: #666; font-size: 1.4rem;}

            #yoo_2{width: 274px; height: 140px;}
            #yoo_2 #fadein_slider {width: 100%; margin: 0 auto; position: relative;}
            #yoo_2 #pic {height: 140px; overflow: hidden; position: relative; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #yoo_2 #pic>div {position: absolute; left: 0; top: 0; display: none; }
            #yoo_2 #control {position: absolute; width: 100%; left: 0; bottom: 10px; text-align: center;}
            #yoo_2 #control a {display: inline-block; width: 18px; height: 18px; background: #000; color: #fff; 
                line-height: 18px; font-size: 0.8em; border-radius: 10px; margin: 0 2px}
            #yoo_2 #control a.on {background: #ff6600;}

            #news{width: 100%; height: 110px; margin: 40px 0 ; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #news h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #news .news_icon{display: flex; justify-content: space-between; align-items: center;}
            #news .news_icon i{width: 10%; height: 30px; }
            #news input {width: 85%; height: 30px;border: none; border-bottom: 1px solid coral; margin: 20px 0px 30px 20px;
                display: block; color: #5d516c; font-size: 14px;}
            
            #insta{width: 100%; height: auto; }
            #insta h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color:#666; font-weight: bold;}
            #insta .insta_img{width: 100%;height: auto; margin: 20px 0 0 0; display: flex; flex-flow: row wrap; justify-content: space-around;
                align-content: space-around;}
            #insta .insta_img img{width: 100px; height: 100px; border-radius: 10px; cursor: pointer;}
            #insta .insta_img img:hover{opacity: 0.7;}

            #follow{width: 100%; height: auto; margin: 40px 0;}
            #follow h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #follow ul{display: flex; margin: 20px; list-style: none;}
            #follow li{font-size: 2rem; margin: 0 15px; cursor: pointer; list-style: none;}
            #follow li:hover{transform: scale(1.2);}

            #tag{width: 100%; height: 110px;}
            #tag h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #tag ul{display: flex; flex-wrap: wrap; margin: 20px 0 0 20px;list-style: none;}
            #tag li a{font-size: 2rem; color: #666; cursor: pointer;}
            #tag li a:hover{color: coral;}

            #slblog {width: 80%; margin: 40px 0 0 0;}
            #slblog .page {text-align: left;margin-bottom: 5px;}
            #slblog .page .page_n {display: inline-block; margin-right: 10px; font-size: 2rem;}
            #slblog .page button {border: none; color: #fff; width: 30px; height:30px;overflow: hidden;}
            #slblog .vis {width: 220px; height: 220px; overflow: hidden; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);border-radius: 5px;}
            #slblog .page button:hover{background-color: coral;}
            
            #topslide{height: auto;}
            #up{position: fixed; right: 20px; bottom: 20px; width: 60px; height: 60px; transition: all 0.5s ease; opacity: 0; visibility: hidden;}
            #up.on{opacity: 1; visibility: visible;}
            #up a{display: block; padding: 20px; text-align: center;text-decoration: none; color: #fff;}
}


@media(min-width:1157px){
    html{font-size: 12px;}

    #slider{width: 100%; height: 600px; background-image: url(../img/jomonsugi.jpg); 
        background-size: cover; background-position: center;}
        #slider_1{width: 1140px; height: 100%; display: flex;flex-direction: row; justify-content: center; 
            align-items: center; margin: 0 auto;}
        .slider_test{width: 100%; margin: 0;}
            
        #slider h2{font-size: 5rem; line-height: 65px; color: #fff; }
        #slider p{font-size:3rem; width: 85%; color: coral;}
        #slider h2:hover{color: coral; cursor: pointer;}
        .slider_img{width: 30%; margin: 120px 0 0 0px;}
        .slider_img img{width: 138px; height: 250px;}
        .slider_img img:hover{cursor: pointer;}

    section{width: 1140px; height: auto; margin: 50px auto ; display: flex; flex-direction: row;
        justify-content: space-between; align-items: flex-start;}
        #left{width: 68%; height: auto; display: flex; flex-direction: column; justify-content: flex-start;}
            #jomonsugi{width: 100%;height: auto;}
            #jomonsugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3.8rem;}
            #jomonsugi > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral}
            #jomonsugi_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #jomonsugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #jomonsugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #jomonsugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #jomonsugi_1 #slidewrap {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #jomonsugi_1 .slide {width: 300%; }
                #jomonsugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #jomonsugi_1 .slide li> img {width: 100%; height: 100%;}
                #jomonsugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #jomonsugi_1 span:hover {background: coral; color:white;}
                #jomonsugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #jomonsugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #jomonsugi_1 > p:nth-of-type(1){font-size: 1.8rem; margin: 20px 0 10px 30px; color: #666;}
            #jomonsugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color:coral;}
            #jomonsugi_1 > p:nth-of-type(2){font-size: 1.8rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #jomonsugi_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3){font-size: 1.8rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #jomonsugi_1 > p:nth-of-type(3):hover{color: coral;}

            #yakukago{margin: 30px auto; width: 100%;height: auto; border-radius: 5px;}
            #yakukago > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3.8rem; color: #666; margin: 30px 0 0 0;}
            #yakukago > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #yakukago .yakukago_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/yakukago.png);background-size: cover;  width: 100%; height: auto; border-radius: 5px;}
            #yakukago .yakukago_1:hover{opacity: 0.7; cursor: pointer;}
            .yakukago_1 > p{display: block; font-size: 3rem;color: white; text-align: center; padding: 60px 0; width: 100%; height:auto; color: white;}
            .yakukago_1 > p > a{color: white; padding: 0 0 0 90px;}
            #yakukago > h2 a{color: #666; }
            #yakukago a:hover{color: coral; }

            #video{width: 100%; height: auto; margin: 30px 0 0;}
            #video > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3.8rem; color: #666;}
            #video > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0px; color: coral;}
            #video_1{width: 100%; height: auto; border-radius: 5px; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); overflow: hidden;}
            #video_1 iframe{width: 100%; max-width:100%; height: 400px; border: none; }
            #video_1 p:nth-of-type(1){font-size: 1.8rem; margin: 35px 0 5px 30px; color: #666;}
            #video_1 h3{font-size: 3rem; margin: 10px 0 15px 30px; color:coral;}
            #video_1 p:nth-of-type(2){font-size: 1.8rem; width: 740px; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;}
            #video_1 img{width: 40px; height: 40px; border-radius: 50px; float: left;margin: 30px 0 30px 30px; cursor: pointer;}
            #video_1 p:nth-of-type(3){font-size: 1.8rem; float: left; margin: 40px 0 0 10px; cursor: pointer; color: #666;}
            #video_1 p:nth-of-type(3):hover{color: coral;}

            #banner1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/mati3.jpg);background-size: cover;width: 100%; height: 154px; margin: 60px 0 0 0; border-radius: 5px; cursor: pointer;}
            #banner1 img{width: 100px; height: 100px; border-radius: 50%; float: left; margin: 25px 0 0 30px;}
            #banner1 h3{font-size: 2.5rem; margin: 36px 0 0 190px; color: white;}
            #banner1 p{display: none; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 1.8rem; margin: 10px 0 0 190px; line-height: 22px; color: white;}
            #banner1 span{color: coral;}
            #banner1 span:hover{color: white;}

            #willson{width: 100%;height: auto; margin: 60px 0 0 0 ;}
            #willson > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); color: #666; font-size: 3.8rem;}
            #willson > p:nth-of-type(1){font-size: 2rem; margin: 5px 0 30px 0; color: coral;}
            #willson_1{width: 100%; height: auto; border-radius: 5px;
                box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #willson_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #willson_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #willson_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #willson_1 #slidewrap_1 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #willson_1 .slide {width: 300%; }
                #willson_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #willson_1 .slide li> img {width: 100%; height: 100%;}
                #willson_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #willson_1 span:hover {background: coral; color:white;}
                #willson_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #willson_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #willson_1 > p:nth-of-type(1){font-size: 1.8rem; margin: 20px 0 10px 30px; color: #666;}
            #willson_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: coral;}
            #willson_1 > p:nth-of-type(2){font-size: 1.8rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #willson_1 .hitosyasin{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #willson_1 > p:nth-of-type(3){font-size: 1.8rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #willson_1 > p:nth-of-type(3):hover{color: coral;}

            #huhusugi{width: 100%; height: auto; margin: 60px 0 0 0;}
            #huhusugi > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3.8rem; color: #666;}
            #huhusugi > p:nth-of-type(1) {font-size: 2rem; margin: 5px 0 30px 0px;color: coral;}
            #huhusugi_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #huhusugi_1 .slide_1{width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #huhusugi_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #huhusugi_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #huhusugi_1 #slidewrap_2 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #huhusugi_1 .slide {width: 300%; }
                #huhusugi_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #huhusugi_1 .slide li> img {width: 100%; height: 100%;}
                #huhusugi_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #huhusugi_1 span:hover {background: coral; color:white;}
                #huhusugi_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #huhusugi_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #huhusugi_1 > p:nth-of-type(1){font-size: 1.8rem; margin: 20px 0 5px 30px; color: #666;}
            #huhusugi_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: coral;}
            #huhusugi_1 > p:nth-of-type(2){font-size: 1.8rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #huhusugi_1 .hitokao{width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3){font-size: 1.8rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #huhusugi_1 > p:nth-of-type(3):hover{color: coral;}

            #center{margin: 60px 0 0 0; width: 100%;height: auto; border-radius: 5px;}
            #center > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3.8rem; color: #666; margin: 30px 0 0 0;}
            #center > p{font-size: 2rem; color: coral; margin: 5px 0 30px 0;}
            #center .center_1{box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2); background-image: url(../img/center.png);background-size: cover;  width: 100%; height: 154px; border-radius: 5px;}
            #center .center_1:hover{opacity: 0.7; cursor: pointer;}
            .center_1 > p{display: block; font-size: 3rem;color: white; text-align: center; padding: 60px 0; width: 100%; height:auto; color: white;}
            #center > h2 a{color: #666; }
            #center a:hover{color: coral; }

            #siratani{width: 100%; height: auto; margin: 60px 0 0 0;}
            #siratani > h2{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3.8rem; color: #666;}
            #siratani > p:nth-of-type(1) {font-size: 1.8rem; margin: 5px 0 30px 0px;color: coral;}
            #siratani_1{width: 100%; height: auto; border-radius: 5px; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);overflow: hidden;}
                #siratani_1 .slide_1 {width: 100%; height: 400px; margin: 0 auto; padding: 0; }
                #siratani_1 ul,li,ol {list-style: none; margin: 0; padding: 0;}
                #siratani_1 .slide_1 .container{width: 100%; height: 400px;margin: 0 auto;}
                #siratani_1 #slidewrap_3 {width: 100%; height: 400px; margin: 0px auto; position: relative; overflow: hidden;}
                #siratani_1 .slide {width: 300%; }
                #siratani_1 .slide li {width: 33.33%; height: 400px; float: left;}
                #siratani_1 .slide li> img {width: 100%; height: 100%;}
                #siratani_1 span {position: absolute; top:50%; display: block; line-height: 40px; 
                        background: white;opacity: 0.5; cursor: pointer; height: 50px; transform: translateY(-50%);}
                #siratani_1 span:hover {background: coral; color:white;}
                #siratani_1 .prev {left:0; border-radius: 0px 10px 10px 0px; padding: 20px 8px 0 2px;}
                #siratani_1 .next {right:0; border-radius: 10px 0px 0px 10px; padding: 20px 2px 0 8px;}
            #siratani_1 > p:nth-of-type(1){font-size: 1.8rem; margin: 20px 0 5px 30px; color: #666;}
            #siratani_1 h3{font-size: 3rem; margin: 0 0 15px 30px; color: coral;}
            #siratani_1 > p:nth-of-type(2){font-size: 1.8rem; width:auto; 
                line-height: 22px; margin: 0 0 0 30px; color: #666;padding: 0 10px 0 0;}
            #siratani_1 .hitokao {width: 40px; height: 40px; border-radius: 50px; float: left;
                margin: 30px 10px 30px 30px; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3){font-size: 1.8rem; margin: 40px 0 0 10px; color: #666; cursor: pointer;}
            #siratani_1 > p:nth-of-type(3):hover{color: coral;}

        #right{width: 24%; height: auto; display: flex; flex-direction: column; justify-content: flex-start; }
            #yoo{width: 100%; height: 390px; margin: 102px 0 0 0;}
            #yoo img{width: 85%; height: 245px; border-radius: 100%; margin: 0 0 0 20px; cursor: pointer;}
            #yoo h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 15px 0 0 20px; color: #666; font-weight: bold;}
            #yoo p{font-size: 2rem; margin: 15px 10px 0 10px; line-height: 24px; color:coral}

            #category{width: 100%; height: 250px; margin: 40px 0 40px 0;}
            #category h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666;font-weight: bold;}
            #category ul{list-style: none; margin: 20px 0 0 20px;}
            #category li{font-size: 1.8rem; margin: 12px 0 0; cursor: pointer; color: #666;}
            #category li:hover{color: coral;}

            #post{width: 100%; height: 350px;}
            #post h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666;font-weight: bold;}
            #post ul{display: flex; flex-direction: column; margin: 20px 0 0 ; list-style: none;}
            #post ul li{list-style: none; margin: 0; padding: 0;}
            #post img{width: 80px; height: 80px; border-radius: 50%; float: left; margin: 0 0 20px 20px; cursor: pointer;}
            #post h4{font-size: 2rem; margin: 15px 0 0 120px; color: #666; cursor: pointer;font-weight: bold;}
            #post p{font-size: 1.3rem; margin:0 0 0 120px; color: coral; cursor: pointer;}
            #post h4:hover{color: coral;}

            #search{width: 100%; height: 80px; margin: 40px 0; box-shadow: 5px 5px 20px rgba(92, 86, 85, 0.2);}
            #search .input_icon{display: flex; justify-content: space-between; align-items: center; margin: 0; padding: 0;}
            #search .input_icon span{width: 10%; height: 30px;}
            #search input{width: 85%; height: 30px; border: none; border-bottom: 1px solid coral; margin: 20px 0 30px 20px; display: block; color: #666; font-size: 1.4rem;}

            #yoo_2{width: 100%; height: 140px;}
            #yoo_2 #fadein_slider {width: 100%; margin: 0 auto; position: relative;}
            #yoo_2 #pic {height: 140px; overflow: hidden; position: relative; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #yoo_2 #pic>div {position: absolute; left: 0; top: 0; display: none; }
            #yoo_2 #control {position: absolute; width: 100%; left: 0; bottom: 10px; text-align: center;}
            #yoo_2 #control a {display: inline-block; width: 18px; height: 18px; background: #000; color: #fff; 
                line-height: 18px; font-size: 0.8em; border-radius: 10px; margin: 0 2px}
            #yoo_2 #control a.on {background: #ff6600;}

            #news{width: 100%; height: 110px; margin: 40px 0 ; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2);}
            #news h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #news .news_icon{display: flex; justify-content: space-between; align-items: center;}
            #news .news_icon i{width: 10%; height: 30px; }
            #news input {width: 85%; height: 30px;border: none; border-bottom: 1px solid coral; margin: 20px 0px 30px 20px;
                display: block; color: #5d516c; font-size: 14px;}
            
            #insta{width: 100%; height: auto; }
            #insta h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; color:#666; font-weight: bold;}
            #insta .insta_img{width: 100%;height: auto; margin: 20px 0 0 0; display: flex; flex-flow: row wrap; justify-content: space-around;
                align-content: space-around;}
            #insta .insta_img img{margin: 10px; width: 100px; height: 100px; border-radius: 10px; cursor: pointer;}
            #insta .insta_img img:hover{opacity: 0.7;}

            #follow{width: 100%; height: 100%; margin: 40px 0;}
            #follow h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #follow ul{display: flex; margin: 20px; list-style: none;}
            #follow li{font-size: 2rem; margin: 0 15px; cursor: pointer; list-style: none;}
            #follow li:hover{transform: scale(1.2);}

            #tag{width: 100%; height: auto;}
            #tag h3{text-shadow: 5px 5px 5px rgba(92, 86, 85, 0.2); font-size: 3rem; margin: 10px 0 0 20px; color: #666; font-weight: bold;}
            #tag ul{display: flex; flex-wrap: wrap; margin: 20px 0 0 20px;list-style: none;}
            #tag li a{font-size: 2rem; color: #666; cursor: pointer;}
            #tag li a:hover{color: coral;}

            #slblog {width: 80%; margin: 40px auto;}
            #slblog .page {text-align: right;margin-bottom: 5px;}
            #slblog .page .page_n {display: inline-block; margin-right: 10px; font-size: 2rem;}
            #slblog .page button {border: none; color: #fff; width: 30px; height:30px;overflow: hidden;}
            #slblog .vis {width: 220px; height: 220px; overflow: hidden; box-shadow:  5px 5px 20px rgba(92, 86, 85, 0.2); border-radius: 5px;}
            #slblog .page button:hover{background-color: coral;} 

            #topslide{height: auto;}
            #up{position: fixed; right: 20px; bottom: 20px; width: 60px; height: 60px; transition: all 0.5s ease; opacity: 0; visibility: hidden;}
            #up.on{opacity: 1; visibility: visible;}
            #up a{display: block; padding: 20px; text-align: center;text-decoration: none; color: #fff;}
}

